#u151-4
{
	font-family: varela-round-n4, sans-serif;
}

#u158-4
{
	font-family: varela-round-n4, sans-serif;
}

#u165-4
{
	font-family: varela-round-n4, sans-serif;
}

#u178-4
{
	font-family: varela-round-n4, sans-serif;
}

#u185-4
{
	font-family: varela-round-n4, sans-serif;
}

#u194-4
{
	font-family: varela-round-n4, sans-serif;
}

#u202-4
{
	font-family: varela-round-n4, sans-serif;
}

#u254-4
{
	font-family: varela-round-n4, sans-serif;
}

#u222-2,#u277-2,#u272-2,#u268-2,#u282-2
{
	font-family: quicksand-n7, sans-serif;
}

#u222-4,#u222-5,#u222-10,#u277-4,#u272-4,#u268-4,#u282-4
{
	font-family: quicksand-n4, sans-serif;
}

